.cluster-marker {
  color: #fff;
  background:rgb(86,116,138);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.carpark-marker {
  background: none;
  border: none;
}

.carpark-marker img{
  width: 70px;
  height: 70px;
}

ul{
  color:black;
}

.loop{
  width: fit-content;
  white-space:nowrap;
  min-width: 16rem; 
}



.loop > p > img{
  margin-top: 5%;
  margin-right:5%;
}
.Pointaddress{
  font-size: smaller;
  color: green;
}

.Pointname{
  font-weight: bold;
  font-size: small;
  color:darkblue;
  
}
.iconrow{
  display: flex;
  justify-content: space-between;
}

 /* .mapbox-directions-profile > label:nth-child(8){
  visibility: hidden;
} 

.mapbox-directions-profile > label:nth-child(8)::after{
  content: "Wheechair" !important;
  visibility: visible;
  margin-left: -85%;
}  */
.flagIcon  {
  position: absolute;
  top: 1.1rem;
  right: 3rem;
}
.flagIcon > button> img{
  width: 3rem;
  height: 3rem;
}

.geocoder-icon{
  margin-top:-15% !important;
}