.cluster-marker {
  color: #fff;
  background: #1978c8;
  border-radius: 50%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carpark-marker {
  background: none;
  border: none;
}

.carpark-marker img {
  width: 25px;
  height: 30px;
}

ul{
  color: black;
}
.loop{
  width: fit-content;
  white-space:nowrap;
}
.Pointaddress{
  font-size: smaller;
  color: green;
  padding-right: 50%;
  margin-right:50%;
}

.Pointname{
  font-weight: bold;
  font-size: small;
  color:darkblue;
}
.iconrow{
  display: flex;
  justify-content: space-between;
}
#label{
  display: none !important;
}

/* .mapbox-directions-profile > label:nth-child(2){
  display: none !important;
} 

.mapbox-directions-profile > label:nth-child(2):after{
  content: "whatever it is you want to add" !important;
}  */
