.cluster-marker {
  color: #fff;
  background: #1978c8;
  border-radius: 50%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carpark-marker {
  background: none;
  border: none;
}

.carpark-marker img {
  width: 25px;
  height: 30px;
}

ul{
  color: black;
}

.Pointaddress{
  font-size: smaller;
  color: green;
}

.Pointname{
  font-weight: bold;
  font-size: small;
  color:darkblue;
}
.iconrow{
  display: flex;
  justify-content: space-between;
}