section {
    /* background-image: url('../../teamlogo.png')  ; */
    background-position: center;
    background-repeat:no-repeat ;
    background-size: contain;
    background-color: gray;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 6% 6%;
}