sect-3 > ul > a {
  color: #9da993;
}

.content {
  min-height: calc(100vh - 150px);
  max-width: 80vw;
  margin: 5rem auto 0 auto;
  padding: 0 1rem;
}

.app-description {
  text-align: center;
}

h3 {
  font-size: 1.75rem;
  margin: 0px;
}

p {
  line-height: 1.75rem;
}

h3 > button {
  display: flex;
  align-items: center;
  background: #c4c4c4;
  border-radius: 1rem;
  border: none;
  font-size: 1.2rem;
  width: 100%;
  text-align: left;
  color: #ffffff;
  font-weight: bold;
  margin-top: 0.5rem;
  padding: 1rem;
}

h3 > button.active {
  background-color: #9da993;
  color: #ffffff;
  border: #fff solid 1px;
}

h3 > button:hover {
  background-color: #9da993;
}

.title-wrapper {
  display: block;
  position: relative;
  width: 100%;
  margin-left: 17%;
  color: #ffffff;
}
.panel-open > img {
  margin-left: 35% !important;
}

.minus {
  content: url("./assets/plus.svg");
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  right: -20%;
}
.plus {
  content: url("./assets/minus_ic.svg");
  width: 24px;
  height: 24px;
  transform: rotate(90deg);
  transition-timing-function: ease-in;
  transition: all 1s;
  position: absolute;
  right: -20%;
}

.panel-close {
  background: #e0e0e0;
  box-sizing: border-box;
  padding: 0.5rem 1rem 0 1rem;
  opacity: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition-timing-function: ease-out;
  transition: all 1s;
}

.panel-open {
  overflow: hidden;
  background: rgba(157, 169, 147, 0.5);
  padding: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  border-radius: 1rem;
  opacity: 1;
  width: 100%;
  height: auto;
  transition-timing-function: ease-in;
  transition: all 1s;
}

.panel p {
  margin: 0;
}

.bay {
  position: absolute;
  top: 200px;
  width: 200px;
  height: 400px;
  object-fit: cover;
}
.car {
  width: 200px;
  height: 100px;
  top: 200px;

  object-fit: cover;
  /*  background: url("/examples/images/tortoise-transparent.png") no-repeat; */
  position: absolute;
  left: -350px;
  /* Chrome, Safari, Opera */
  -webkit-animation-name: moveit;
  -webkit-animation-duration: 10s;
  /*   -webkit-animation-delay: 20s;
 */ /* Standard syntax */
  animation-name: moveit;
  animation-duration: 10s;
  /* animation-delay: 20s; */
}

@-webkit-keyframes moveit {
  from {
    left: 0%;
    scale: 2;
  }
  to {
    left: 100%;
    opacity: 0;
    scale: 0;
  }
}

/* Standard syntax */
@keyframes moveit {
  from {
    left: 0;
    scale: 2;
  }
  to {
    left: 100%;
    opacity: 0;
    scale: 0;
  }
}

.wheel {
  width: 250px;
  height: 200px;
  top: 100px;
  position: absolute;
}

.air {
  width: 250px;
  height: 200px;
  position: fixed;
  top: 500px;
  -webkit-animation-name: fly;
  -webkit-animation-duration: 10s;
  /*   -webkit-animation-delay: 20s;
 */ /* Standard syntax */
  animation-name: fly;
  animation-duration: 10s;
}

@-webkit-keyframes fly {
  from {
    left: 0%;
    scale: 2;
  }
  to {
    left: 100%;
    opacity: 0;
    top: 0px;
  }
}

/* Standard syntax */
@keyframes fly {
  from {
    left: 0;
    scale: 2;
  }
  to {
    left: 100%;
    opacity: 0;
    scale: 0;
    top: 0px;
  }
}
