.melbanner{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4R2qgt5q-iuP5PVNpgzZ3fil9qzskXXKpWA&usqp=CAU') ;
    background-repeat: no-repeat;
    object-fit: none;
    text-align: center;
    padding: 5%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.content{
    text-align: center;
    padding: 0 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}
li{
    list-style-type: none;
    text-decoration: none;
}